@import "tachyons";

body {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
  ul.list-social {
    margin-bottom: 0;
  }
  ul.list-social li a {
    display: block;
    height: 80px;
    width: 80px;
    line-height: 2em;
    font-size: 45px;
    border-radius: 100%;
    color: white;
  }
  ul.list-social li.social-twitter a {
    background-color: #1da1f2;
  }
  ul.list-social li.social-twitter a:hover {
    background-color: #0d95e8;
  }
  ul.list-social li.social-facebook a {
    background-color: #3b5998;
  }
  ul.list-social li.social-facebook a:hover {
    background-color: #344e86;
  }
  header.affix-top nav a {
    color: white;
  }
  header.affix {
    background-color: white;
  }
  header.affix nav a {
    color: black;
  }
  